In [22]:
# --*-- encoding : utf-8 --*--
# pandasのインポート
import pandas
import matplotlib.pyplot as plt

In [17]:
# Dataのインポート
# CSVファイルのインポート
df = pandas.read_csv('./data_src/GOOG.csv')
# Date列の変換
df['Date'] = pandas.to_datetime(df['Date'])
df.info()
# Date列をインデックスにする
df.index = df['Date']
df.head()

# year列とday列とquerter列の追加
df['year'] = df['Date'].dt.year
df['day'] = df['Date'].dt.day
df['quarter'] = df['Date'].dt.quarter

# 各年ごとの平均（会計年度でないから意味がないかもだが）
df.groupby('year').mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       252 non-null    datetime64[ns]
 1   Open       252 non-null    float64
 2   High       252 non-null    float64
 3   Low        252 non-null    float64
 4   Close      252 non-null    float64
 5   Adj Close  252 non-null    float64
 6   Volume     252 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 13.9 KB

,Open,High,Low,Close,Adj Close,Volume,day,quarter
year,,,,,,,,
2021,2805.651845,2828.254412,2782.683777,2806.748754,2806.748754,1.082981e+06,16.375000,3.411765
2022,2565.600695,2600.049935,2526.508030,2560.097768,2560.097768,1.573441e+06,14.715517,1.465517

In [29]:
# Dateの作成
print(pandas.date_range('2022-03-01','2022-06-01',freq = 'B'))

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10',
               '2022-03-11', '2022-03-14', '2022-03-15', '2022-03-16',
               '2022-03-17', '2022-03-18', '2022-03-21', '2022-03-22',
               '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-28',
               '2022-03-29', '2022-03-30', '2022-03-31', '2022-04-01',
               '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07',
               '2022-04-08', '2022-04-11', '2022-04-12', '2022-04-13',
               '2022-04-14', '2022-04-15', '2022-04-18', '2022-04-19',
               '2022-04-20', '2022-04-21', '2022-04-22', '2022-04-25',
               '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29',
               '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
               '2022-05-06', '2022-05-09', '2022-05-10', '2022-05-11',
               '2022-05-12', '2022-05-13', '2022-05-16', '2022-05-17',
               '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-23',
               '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27',
               '2022-05-30', '2022-05-31', '2022-06-01'],
              dtype='datetime64[ns]', freq='B')

In [2]:
plt.plot(df['Date'],df['Open'],'o')
plt.plot(df['Date'],df['High'],'o')
plt.plot(df['Date'],df['Low'],'o')
plt.plot(df['Date'],df['Close'],'o')

NameError: name 'plt' is not defined

In [1]:
with open('data.js','w') as data_js:
    date = df['Date']
    Open = df['Open']
    High = df['High']
    Low = df['Low']
    Close = df['Close']
    row_size = df.shape[0]
    counter = 0
    for cell in date:
        if counter == 0 :
            counter+= 1
            data_js.write('let data = ['+'"{}"'.format(cell)+',')
        elif counter == row_size -1:
            counter = 0
            data_js.write('"{}"'.format(cell)+'];\n')
        else :
            data_js.write('"{}"'.format(cell)+',')
            counter+=1
    for cell in Open:
        if counter == 0 :
            counter+= 1
            data_js.write('let open = ['+'"{}"'.format(cell)+',')
        elif counter == row_size -1:
            counter = 0
            data_js.write('"{}"'.format(cell)+'];\n')
        else :
            data_js.write('"{}"'.format(cell)+',')
            counter+=1
    for cell in High:
        if counter == 0 :
            counter+= 1
            data_js.write('let high = ['+'"{}"'.format(cell)+',')
        elif counter == row_size -1:
            counter = 0
            data_js.write('"{}"'.format(cell)+'];\n')
        else :
            data_js.write('"{}"'.format(cell)+',')
            counter+=1
    for cell in Low:
        if counter == 0 :
            counter+= 1
            data_js.write('let low = ['+'"{}"'.format(cell)+',')
        elif counter == row_size -1:
            counter = 0
            data_js.write('"{}"'.format(cell)+'];\n')
        else :
            data_js.write('"{}"'.format(cell)+',')
            counter+=1
    for cell in Close:
        if counter == 0 :
            counter+= 1
            data_js.write('let close = ['+'"{}"'.format(cell)+',')
        elif counter == row_size -1:
            counter = 0
            data_js.write('"{}"'.format(cell)+'];\n')
        else :
            data_js.write('"{}"'.format(cell)+',')
            counter+=1

NameError: name 'df' is not defined